<div class="twelve wide stretched column">
  <div class="ui segment">
    <div  class="ui one column grid">
      <div class="column">
        <div class="ui attached segment"><i class="shopping basket icon"></i>Commandes
          <LinkTo class="ui right floated teal button" @route="sections">Parcourir les sections</LinkTo>
        </div>

        <div class="ui attached green segment">
          <table class="ui striped table">
            <tbody>
            {{#each @model.orders as |order|}}
              <tr>
                <td>
                  <LinkTo @route="myOrders" @model={{order.id}}>
                    {{order.dateCreation}} <span class="ui circular label">{{order.orderdetails.length}}</span>
                  </LinkTo>
                </td>
              </tr>
            {{/each}}
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>