<div class="container-md">

<h4 class="ui header dividing">Connection</h4>

<form class="ui form" {{action "login" @model on="submit"}}>
  <div class="field">
    <label>Email</label>
    <Input type="email" @value={{@model.email}} placeholder="Votre email"/>
  </div>
  <div class="field">
    <label>Password</label>
    <Input type="password" @value={{@model.password}} placeholder="Votre mot de passe"/>
  </div>
  <div class="field">
    <div class="ui checkbox">
      <input type="checkbox" tabindex="0" class="hidden">
      <label>Se souvenir de moi</label>
    </div>
  </div><br><br>
  <button class="ui button" type="submit">Se connecter</button>
</form>

</div>